/* ----------------------
Style Sheet for NAVE LABS
version: 1.0
author: Lucas Soares
-----------------------*/
/* corpo*/

html,body{
	/* text-transform: uppercase; */
	height: 100%;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

.navbar-default{
	border: none;
}

.projetos-principais{
	background-color: #FAFAFA;
	padding: 10px;
}

.projetos-principais h2{
	text-align:center;
	margin-bottom: 30px;
}

.sobre-nos{
	padding: 10px;
	margin-top: 20px;	
}

.icones-projetos{
	width: 50%;
	height: 50%;
	margin-bottom: 20px;
}


.equipe-thumb a:hover{
	text-decoration: none;
}

.equipe-thumb p{
	padding: 0;
	margin: 0;
}


#email{
	font-size: 10px;
}
#nav-principal a{
	text-transform: uppercase;
}

.modal-body{
	font-size: 14px;
	color: #757575;
}

#myModal{
	margin-top: 150px;
}

footer{
	background-color:  #FAFAFA;
	padding: 20px;
	margin-top: 20px;
}



/* #nav-principal a:hover{
	color: orange;
} */

