/* ----------------------
Style Sheet for NAVE LABS
version: 1.0
author: Lucas Soares
-----------------------*/

html,body,.capa{
	height: 100%;
}

h2, h4{
	font-weight: bold;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

.navbar-default{
	border: none;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a{
	color: #e94e1b;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #e94e1b;
	text-decoration: underline;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:  #e94e1b;
}

.projetos-principais{
	background-color: #f39200;
	padding: 10px;
	color: white;
}

.capa{
	display: table;
	width: 100%;
}
.texto-capa{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.projetos-principais a{
	color: white;
}

.projetos-principais a:hover{
	font-weight: bold;
	text-decoration: none;
}

.projetos-principais h2{
	text-align:center;
	margin-bottom: 30px;
}
.eventos{
	padding: 10px;
}
.sobre-nos{
	padding: 10px;
	background-color: #e94e1b;
	color: white;	
}

.icones-projetos{
	width: 50%;
	height: 50%;
	margin-bottom: 20px;
}

.icones-projetos:hover{
	border: 4px solid white;
}

.equipe-thumb a:hover{
	text-decoration: none;
}

.equipe-thumb p{
	padding: 0;
	margin: 0;
}

#email{
	font-size: 12px;
}

#nav-principal a{
	text-transform: uppercase;
	text-align: center;
}

#botao-navbar{
	border: none;
	background-color: transparent;
}

#botao-navbar:hover{
	background-color: transparent;
}

.modal-body{
	font-size: 14px;
	color: #757575;
}

.modal-footer{
	color: #757575;
}

#myModal, #antoanne-modal, #zeca-modal, #luca-modal, #scora-modal{
	margin-top: 150px;
}

.icones-sociais{
	max-width: 10%; 
	margin-left: 5px;
}

.modal-icones{
	max-width: 4%;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
}

footer{
	background-color:  #1b868f;
	color: white;
}
